body {
  background-color: #f8f6f4; }

.img-photo {
  width: 100%;
  height: auto; }

.margin-bot {
  margin-bottom: 30px; }

.margin-top {
  margin-top: 20px; }

.h2, .recent-works-heading {
  color: #2c2a28;
  font-family: "Lato", sans-serif; }

.h1 {
  color: #c0a064;
  font-family: "Lato", sans-serif; }

.h3 {
  color: #6c6a68;
  font-family: "Lato", sans-serif; }

.recent-works-heading {
  margin: 120px 0 60px; }
  @media (max-width: 991px) {
    .recent-works-heading {
      margin: 80px 0 40px; } }

.header {
  padding: 0px;
  background-image: url(img/bg-foto.png); }
  @media (max-width: 991px) {
    .header {
      background-image: none;
      background-color: white;
      opacity: 0.85; } }

.navbar {
  padding-top: 20px;
  margin: 0; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.85; }

.bg {
  background-color: #eaeaea; }
  @media (max-width: 991px) {
    .bg {
      background-image: url(img/bg-foto.png);
      background-position-y: top;
      background-position-x: center; } }

.header-margin {
  margin-top: 350px; }
  @media (max-width: 600px) {
    .header-margin {
      margin-top: 150px; } }

.bttn, .header-bttn {
  border: 2px solid #c0a064;
  padding: 10px 60px;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  color: #c0a064;
  outline: none; }
  .bttn:hover, .header-bttn:hover {
    background-color: #dfdfdf;
    opacity: 0.6;
    color: #8c5f0b;
    border-color: #8c5f0b; }

.header-bttn {
  margin-top: 120px;
  margin-bottom: 220px; }
  @media (max-width: 600px) {
    .header-bttn {
      margin-top: 80px;
      margin-bottom: 100px; } }

.margin-top-blocks {
  margin-top: 240px; }

.contact-input {
  width: 100%;
  border: 1px solid #6c6a68;
  border-bottom: none;
  padding: 10px 20px;
  background: transparent;
  outline: none;
  outline: none;
  -moz-appearance: none; }
  .contact-input:-moz-placeholder {
    font-family: "Lato", sans-serif;
    color: #6c6a68;
    font-size: 16px; }
  .contact-input::-moz-placeholder {
    font-family: "Lato", sans-serif;
    color: #6c6a68;
    font-size: 16px; }
  .contact-input:-ms-input-placeholder {
    font-family: "Lato", sans-serif;
    color: #6c6a68;
    font-size: 16px; }
  .contact-input::-webkit-input-placeholder {
    font-family: "Lato", sans-serif;
    color: #6c6a68;
    font-size: 16px; }
  .contact-input:focus::-webkit-input-placeholder {
    color: transparent; }
  .contact-input:focus:-moz-placeholder {
    color: transparent; }
  .contact-input:focus::-moz-placeholder {
    color: transparent; }
  .contact-input:focus:-ms-input-placeholder {
    color: transparent; }

.contact-text {
  width: 100%;
  border: 1px solid #6c6a68;
  padding: 10px 20px;
  background: transparent;
  resize: none;
  outline: none;
  outline: none;
  -moz-appearance: none; }
  .contact-text:-moz-placeholder {
    font-family: "Lato", sans-serif;
    color: #6c6a68;
    font-size: 16px; }
  .contact-text::-moz-placeholder {
    font-family: "Lato", sans-serif;
    color: #6c6a68;
    font-size: 16px; }
  .contact-text:-ms-input-placeholder {
    font-family: "Lato", sans-serif;
    color: #6c6a68;
    font-size: 16px; }
  .contact-text::-webkit-input-placeholder {
    font-family: "Lato", sans-serif;
    color: #6c6a68;
    font-size: 16px; }
  .contact-text:focus::-webkit-input-placeholder {
    color: transparent; }
  .contact-text:focus:-moz-placeholder {
    color: transparent; }
  .contact-text:focus::-moz-placeholder {
    color: transparent; }
  .contact-text:focus:-ms-input-placeholder {
    color: transparent; }

.send-bttn {
  margin-top: 25px;
  width: 100%;
  margin-bottom: 60px; }

.follow {
  color: #6c6a68;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 30px; }

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  @media (max-width: 991px) {
    .gallery-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

@media (max-width: 991px) {
  .gallery-photo {
    width: 47%;
    margin-bottom: 30px;
    margin-top: 30px; } }

.row {
  margin: 0; }

.navbar-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .navbar-buttons div {
    font-family: "Lato", sans-serif;
    font-size: 16px; }
    .navbar-buttons div a {
      color: #acabab; }
      .navbar-buttons div a:hover {
        outline: none;
        text-decoration: none;
        color: #2c2a28;
        font-weight: 600; }

.navbar-socials, .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .navbar-socials div, .footer-socials div {
    width: 30px;
    height: 20px; }

.icon-1, .footer-icon-1 {
  background-image: url(img/nav-right.png);
  background-position-x: -7px;
  background-position-y: 23px; }

.icon-2, .footer-icon-2 {
  background-image: url(img/nav-right.png);
  background-position-x: -48px;
  background-position-y: 23px; }

.icon-3, .footer-icon-3 {
  background-image: url(img/nav-right.png);
  background-position-x: -84px;
  background-position-y: 23px; }

.icon-4, .footer-icon-4 {
  background-image: url(img/nav-right.png);
  background-position-x: 33px;
  background-position-y: 23px; }

.footer-icon-1 {
  background-image: url(img/icons.png); }

.footer-icon-2 {
  background-image: url(img/icons.png); }

.footer-icon-3 {
  background-image: url(img/icons.png); }

.footer-icon-4 {
  background-image: url(img/icons.png); }

.padding-0 {
  padding: 0; }

.gallery-text {
  padding: 40px 60px 0px 60px;
  text-align: left;
  font-family: "Lato", sans-serif; }
  .gallery-text p {
    color: #6c6a68;
    font-size: 16px; }
  @media (max-width: 991px) {
    .gallery-text {
      text-align: center;
      padding: 40px 60px 40px 60px; } }

.margin-top-blocks {
  margin-top: 200px; }
  @media (max-width: 991px) {
    .margin-top-blocks {
      margin-top: 140px; } }
  @media (max-width: 450px) {
    .margin-top-blocks {
      margin-top: 100px; } }
